* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}


body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Roboto Slab', serif;
}

  .contenedor {
      width: 90%;
      max-width: 1300%;
      overflow: hidden;
      margin: auto;
      padding:  60px 0;
      height: 100vh;
  }

  header {
      height: 100vh;
      background-image: linear-gradient(to top,  rgba(0, 106, 255, 0.1) 80%, rgba(0, 105, 255, 0.1) 80%), url(./img/geometric_background.jpg);
      /* background-image: url(./img/SubtlePrism2.svg); */
      /* background-color: #0069ff; */
      background-repeat: no-repeat;
      background-size: cover;
      /* background-attachment: fixed; */
      background-position: center;
  }

  .head{
      padding: 0;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #ffffff;
  }


  .hamburguer{
      position: fixed;
      z-index: 10;
      top: 30px;
      right: 30px;
      background: #ffffff;
      width: 40px;
      height: 40px;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: 0 0 6px rgba(0,0,0,.5);
  }

  .navbar-brand {
    position: absolute;
    left: calc(50% - 52px);
    top: calc(1rem - .3125rem);
    text-align: center;
    -webkit-transition: top .3s ease,-webkit-transform .5s ease;
    transition: top .3s ease,-webkit-transform .5s ease;
    transition: transform .5s ease,top .3s ease;
    transition: transform .5s ease,top .3s ease,-webkit-transform .5s ease;
}


  .menu-navegacion{
      position: fixed;
      z-index: 5;
      top: 0;
      right: 0;
      width: 20vw;
      height: 100%;
      background-image: linear-gradient(to top,#ffffff 35%, #ffffff 70%); 
      /* background-image: linear-gradient(to top,  rgba(0, 106, 255, 0.1) 80%, rgba(0, 105, 255, 0.1) 80%), url(./img/PatternRandomized_orange.svg); */
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transition: transition .3s ease-in-out;
      transform: translate(110%);
      box-shadow: 0 0 6px rgba(0,0,0,.5);
      /* width: 100vw;
      padding: 18px 0px; */
  }


  .spread{
      transform: translate(0);
  }

  .menu-navegacion a{
      color: gray;
      text-decoration: none;
      padding: 10px;
  }

  .menu-navegacion a:hover{
    background-color: #2775B9;
    width: 100%;
    text-align: center;
    color: white;
    /* padding: 8px; */
}

  .company{
      box-shadow: 0 8px 16px rgba(10,10,10,.1);
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-left: 30px; 
      padding: .5rem 0;
  }

  .company img{
    height: 20px;
  }

  .company a img{
    height: 60px;
    padding-left: 45px;
}

  .titulo{
      font-size: 65px;
      margin-bottom: 15px;
      text-align: center;
      /* color: #ff9f00; */
      text-shadow: 3px 0px 5px rgba(0,0,0,0.3);
  }

  .copy{
      font-weight: 300;
      font-size: 20px;
      text-align: center;
      /* color: #ff9f00; */
      text-shadow: 3px 0px 20px #343a40;
  }

  /*NUESTROS SERVICIOS*/

  .service-img img {
    width: 90%;
    border-radius: 10px;
  }

  .title-services{
    font-weight: 500;
    color: #ff9f00;
    font-size: 20px;
  }

  .copy-services{
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    } 

  .subtitulo{
      text-align: center;
      font-weight: 500;
      color: #ff9f00;
      margin-bottom: 40px;
      font-size: 40px;
  }

  .contenedor-servicio{
    width: 90%;
    max-width: 1300%;
    overflow: hidden;
    margin: auto;
    padding:  60px 0;
    /* height: 100vh; */
  }

  .ul-services{
    font-weight: 300;
    font-size: 14px;
    padding-left: 60px;
  }
  /*EXPERTOS*/

  .contenedor-why {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      font-size: 19px;
      margin: 60px;
      font-weight: 300;
  }

  .contenedor-why img{
      width: 15%;
      display: block;
      margin: 0 auto;
  }


  .why{
    background-color: #f7f6f9 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    max-width: 1200%;
    overflow: hidden;
    margin: auto;
    padding:  60px 0;
    height: 100vh;
  }

  .text-why{
    font-weight: 300;
    font-size: 20px;
}


  .certificades{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
  }

  .cont-certificades{
      width: 30%;
      text-align: center;
      margin-bottom: 20px;
  }

  .cont-certificades img{
      width: 80%;
      display: block;
      margin: 0 auto;
  }

  .n-certificades{
      display: inline-block;
      margin-top: 20px;
      width: 100%;
      font-weight: 400;
  }

  /*NOSOTROS*/

  .nosotros-img img {
    width: 80%;
    border-radius: 10px;
    margin: 15px;
  }

  .nosotros{
   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    max-width: 1200%;
    overflow: hidden;
    margin: auto;
    padding:  60px 0;
  }

   .contenedor-nosotros{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      font-size: 19px;
      margin: 60px;
  }

  .subtitulo-nosotros{
    font-weight: 300;
    padding-bottom: 15px;
    font-size: 20px;
}

.subtitle-nosotros{
    color: #ff9f00;
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 15px;
}

  .copy-nosotros{
      font-weight: 300;
      font-size: 18px;
      text-align: justify;
  }
  
/*contato*/

.contacto{
    background-image: url(./img/Contact_cyberSecurity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    width: 100%;
    max-width: 1200%;
    overflow: hidden;
    margin: auto;
    padding:  60px 0;
     height: 100vh; 
  }

 .contact{
    font-weight: 400;
    /* flex-wrap: wrap;
    justify-content: space-evenly; */
    padding: 18px;
    font-size: 20px;
    color: white;
} 

.contenedor-contacto{
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 19px;
    margin: 60px;
}
.contact img{
    color: #ff9f00;
    width: 4%;
}



  /*FOOTER*/
  /* .footer{
      background: #9f8ad0;
      padding-bottom: 0.1px;
  }

  .footer-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 60px;
      padding-bottom: 40px;
  } */

  .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}